@font-face {
    font-family: title;
    src: url(../fonts/ProzaLibre-Regular.ttf);
  }
@font-face {
    font-family: body;
    src: url(../fonts/OpenSans-Regular.ttf);
  }

.leftDiv
  {
      height: 880px;
      width: 49%;
      float: left;
  }
.rightDiv
  {

      height: 400px;
      width: 49%;
      float: right;
  }		
h1{
    text-align: left;
    font-family: title;
}
.guide{
    font-family: body;
}

input[type=text],
input[type=tel],
input[type=email],
textarea{
    font-family: body;
    width:30%;
    border:2px solid #aaa;
    border-radius:4px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
  }
input:focus,
textarea:focus{
    font-family: body;
    border-color:rgb(81, 120, 252);
    box-shadow:0 0 8px 0 rgb(81, 120, 252);
  }
select{
    font-family: body;
    padding: 4px 10px;
    background-color: rgb(33, 83, 245) ;
    border-radius: 5px;
    border: rgb(81, 120, 252);
    cursor: pointer;
}
select:hover,
select:focus{
    background-color: rgb(81, 120, 252) ;
    box-shadow:0 0 8px 0 rgb(81, 120, 252);
}
select option{
    background-color: white;
}

.radio,
.checkbox{
    display: inline-flex;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(0, 0, 0.25);
}
.radioInput,
.checkboxInput{
    display: none;
}
.radioLabel
,.checkboxLabel{
    padding: 8px 14px;
    font-family: body;
    font-size: 12px;
    background-color: rgb(81, 120, 252);
    cursor: pointer;
    transition: background-color 0.3s;
}
.radioLabel:not(:last-of-type),
.checkboxLabel:not(:last-of-type)
{
    border-right: 1px solid rgb(48, 95, 248);
}

.radioInput:checked + .radioLabel,
.checkboxInput:checked + .checkboxLabel{
    background-color: rgb(33, 83, 245);
}

input[type=submit] {
    padding:5px 15px; 
    background:rgb(33, 83, 245); 
    border:0 none;
    cursor:pointer;
    border-radius: 5px; 
}
input[type=reset]{
    padding:5px 15px; 
    background:#aaa; 
    border:0 none;
    cursor:pointer;
    border-radius: 5px; 
}

.container-contact100 {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: rgb(223, 223, 223);
  
}

.wrap-contact100 {
  width: 1120px;
  background: #fff;
  overflow: hidden;
  flex-wrap: wrap;
}

form {
  padding: 3% 0;
}