@font-face {
  font-family: title;
  src: url(../fonts/ProzaLibre-Regular.ttf);
}

body{
  background-color: white;
}

img {
  width: 80%;
}

#picE {
  width: 90%;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: space-around;
  padding: 10px;
  font-family: title, Times, serif;
}

.card{
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 14px;
  padding: 20px;
  margin: 20px;
  height: 577px;
  width: 250px;
}

.name{
  font-weight: bold;
  font-size: 2rem;
}

.price{
  font-size: 2rem;
}

.content{
  font-size: 22px;
}

.button{
  border-radius: 7px;
  height: 40px;
  width: 250px;
  border: none;
  outline: 0;
  box-shadow: 2px 4px 2px 3px rgba(0, 0, 0, 0.2);
  font-family: title, Times, serif;
}

a{
  text-decoration: none;
  color: black;
}
/* .card :last-child{
  width: ;
} */
